[submodule "gears/modules/js_mime_presets"]
	path = gears/modules/js_mime_presets
	url = https://github.com/liledix4/js_mime_presets
[submodule "gears/modules/js_xhr_ajax"]
	path = gears/modules/js_xhr_ajax
	url = https://github.com/liledix4/js_xhr_ajax
[submodule "gears/modules/js_clipboard"]
	path = gears/modules/js_clipboard
	url = https://github.com/liledix4/js_clipboard
[submodule "gears/modules/js_file"]
	path = gears/modules/js_file
	url = https://github.com/liledix4/js_file
[submodule "gears/modules/js_input_limit"]
	path = gears/modules/js_input_limit
	url = https://github.com/liledix4/js_input_limit
[submodule "gears/modules/altcodes"]
	path = gears/modules/altcodes
	url = https://github.com/liledix4/altcodes
