@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0";


* {
  box-sizing: border-box;
  position: relative;
}
::selection {
  background-color: #00944488;
  color: white;
}
:root {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;
  text-shadow: 0 5px 5px black;
}
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #222222;
  overflow: hidden;
}
.micon {
  font-family: 'Material Symbols Rounded';
  font-size: 1em;
  line-height: 1em;
  user-select: none;
}
span.micon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 1em;
  max-height: 1em;
  min-width: 1em;
  max-width: 1em;
}
input, textarea {
  text-shadow: inherit;
}
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-shadow: inherit;
  padding: .25rem .5rem;
  background-color: #00000000;
  border: 2px solid #333333;
  box-shadow:
    0 5px 5px #00000022,
    0 5px 5px #00000022 inset;
  border-radius: .5rem;
  overflow: hidden;
  font-size: .6875rem;
  transition: all .4s;
}
button:hover {
  border-color: #009444;
  box-shadow: 0 0 10px #00944488,
              0 0 10px #00944488 inset;
  z-index: 4;
}
button:active {
  border-color: #009444;
  background-color: #009444;
  box-shadow: 0 0 20px #009444;
  color: white;
  z-index: 4;
}
button .micon {
  font-size: 2rem;
}


#mobile-switch {
  display: none;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-bottom: 2px solid #333333;
  user-select: none;
  padding: .5rem 0;
  transition: all .4s;
}
#mobile-switch:hover {
  background-color: #00944411;
  border-bottom-color: #009444;
  box-shadow: 0 0 10px #00944488,
              0 -4px 4px #00944444 inset;
  z-index: 444;
}
#mobile-switch:active {
  background-color: #009444;
  border-bottom-color: #009444;
  color: white;
  box-shadow: 0 0 44px #009444;
  z-index: 444;
}
.main-view {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 4444;
  overflow: hidden;
}


.left-pane {
  display: flex;
  flex-direction: column;
  border: 2px solid #00000000;
  border-right-color: #333333;
  overflow: hidden;
  transition: opacity .4s, border-color .4s, box-shadow .4s;
  opacity: .4;
}
.left-pane:hover,
.left-pane:has(:focus) {
  opacity: 1;
}
.left-pane:has(:focus) {
  border-color: #00944488;
  box-shadow:
    5px 0 10px #00944444,
    0 0 10px #00944444 inset;
  z-index: 4;
}
#input {
  display: block;
  flex-grow: 1;
  flex-shrink: 4444;
  width: 400px;
  min-width: 200px;
  max-width: 100%;
  resize: horizontal;
  border: 0;
  color: inherit;
  font-size: .75rem;
  background-color: #00000000;
  outline: none;
  font-family: 'JetBrains Mono', monospace;
  padding: 1rem;
  border-radius: 0;
}


.right-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 4444;
  overflow: hidden;
}
.right-pane .zoom {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  padding-right: .5rem;
  user-select: none;
}
.zoom #zoom-number {
  padding: .5rem;
  text-align: center;
  min-width: 60px;
  max-width: 60px;
  cursor: pointer;
}
.zoom #zoom-number:hover {
  background-color: #333333;
}
.zoom #zoom {
  flex-grow: 1;
  transition: filter 1s, accent-color 1s;
}


.result-container {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 4444;
}
#result {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  white-space: pre-wrap;
  overflow: auto;
  overflow-wrap: anywhere;
  padding: 2rem 1rem;
  font-family: 'Courier Prime', 'Courier New Regular', 'Courier New', 'JetBrains Mono', monospace;
  font-weight: normal;
  outline: none;
  transition: font-size .2s;
}
#result *:not(note) {
  position: relative;
  display: inline-block;
}
#result scene {
  width: calc(.6em * 57);
  color: cornflowerblue;
  font-weight: bold;
}
#result action {
  width: calc(.6em * 57);
  color: aqua;
}
#result transition {
  width: calc(.6em * 57);
  text-align: right;
  color: dodgerblue;
}
#result note {
  font-style: italic;
  color: darkslategray;
}
#result character {
  margin-left: calc(.6em * 20);
  width: calc(.6em * 32);
  color: burlywood;
}
#result dialogue-block {
  margin-left: calc(.6em * 10);
  width: calc(.6em * 36);
}
#result dialogue-block parenthetical {
  margin-left: calc(.6em * 6);
  width: calc(.6em * 25);
  color: cadetblue;
  text-indent: -.6em;
}
#result dialogue-block dialogue {
  color: beige;
}


.action-buttons.v2 {
  padding: 0;
  gap: 0;
}
.action-buttons.v2 button {
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 60px;
}
.action-buttons.v2 button:not(:hover, :active) {
  border-color: #00000000;
  box-shadow: none;
}
.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  gap: .5rem;
  padding: .5rem;
  flex-direction: row;
}
.action-buttons + .action-buttons {
  border-top: none;
  padding-top: 0;
}
.action-buttons button {
  flex-grow: 1;
  max-width: 80px;
  white-space: nowrap;
}
.action-buttons.horizontal > button {
  flex-direction: row;
  gap: .25rem;
}
.action-buttons.v2 > button .micon,
.action-buttons.horizontal > button .micon {
  font-size: 2em;
}


.overflow-shadow {
  position: absolute;
}
.overflow-shadow.top,
.overflow-shadow.bottom {
  left: 0; right: 0;
  height: 20px;
}
.overflow-shadow.top {
  top: -20px;
  box-shadow:
    0 10px 10px #222222,
    0 15px 15px #222222,
    0 20px 20px #222222;
}
.overflow-shadow.bottom {
  bottom: -20px;
  box-shadow:
    0 -10px 10px #222222,
    0 -15px 15px #222222,
    0 -20px 20px #222222;
}


@media screen and (min-width: 800px) {
  .right-pane .action-buttons {
    position: absolute;
    flex-direction: column;
    align-items: normal;
    gap: 0;
    top: 50px;
    right: 30px;
    background-color: #00000044;
    backdrop-filter: blur(20px);
    border-radius: 1rem;
  }
  .right-pane .action-buttons button {
    justify-content: flex-start;
  }
  .right-pane .action-buttons button:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .right-pane .action-buttons button:not(:first-child, :hover, :active) {
    border-top-color: #00000000;
  }
  .right-pane .action-buttons button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media screen and (max-width: 800px) {
  #mobile-switch {
    display: block;
  }
  #input {
    min-width: 100%;
    max-width: 100%;
    resize: none;
  }
  .left-pane {
    border-width: 0;
    box-shadow: none !important;
    flex-grow: 1;
    flex-shrink: 4444;
    opacity: 1;
  }
  body:not(.mobile-preview) .right-pane,
  body.mobile-preview .left-pane {
    display: none;
  }
}
@media print {
  #mobile-switch,
  .left-pane,
  .right-pane > *:not(#result) {
    display: none !important;
  }
  body,
  .main-view,
  .right-pane {
    position: initial;
    display: initial;
    overflow: initial;
    background-color: initial;
  }
  #result * {
    color: black !important;
  }
}